<div class="container">
  <div class="wrapper">
    <div class="formContainer">
      <h2>Login</h2>
      <!-- TODO: Place action endpoint -->
      <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <input
          type="text"
          class="username"
          id="username"
          name="username"
          placeholder="Username"
          formControlName="username"
          required
        />
        <input
          type="password"
          class="password"
          id="password"
          name="password"
          placeholder="Password"
          formControlName="password"
          required
        />
        <div class="checkboxContainer">
          <label>
            <input
              type="checkbox"
              class="checkbox"
              id="remember_me"
              name="_remember_me"
              formControlName="rememberMe"
            />
            Remember me
          </label>
        </div>

        <input type="submit" class="loginBtn" value="Log in" />
        <a routerLink="/register" routerLinkActive="active"
          >Don't have an account? Register here.</a
        >
        <!-- <a href="/reset/request" routerLinkActive="active">Forgot your password?</a> -->
      </form>
    </div>
  </div>
</div>
