.nav {
  background-color: var(--primary-color);
  width: 100vw;
  height: 10vh;
  font-weight: bold;
  position: fixed;
  z-index: 10;
}

.nav a {
  color: white;
  text-decoration: none;
}

.nav button {
  border: none;
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

.contents {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
  margin: 0 15px;
}

.link-container {
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.link-container a.active,
.modal__linkContainer a.active {
  text-decoration: underline;
}

.link-container a:hover {
  display: block;
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
  text-decoration: underline;
}

/** Mobile View **/
.burgerMenu {
  background-color: transparent;
  border: none;
  margin: 0 20px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 107px;
  left: 0;
  width: 100%;
  height: 100vh;
}

.backdrop.close {
  display: none;
}

.modal {
  position: absolute;
  top: 10vh; /* Place it just below the navbar */
  left: 0;
  width: 100vw;
  height: 250px;
  background-color: #a1c6d7;
  overflow: hidden;
  transition: all 0.5s ease;
}

.modal.close {
  height: 0;
}

.modal__linkContainer {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.modal__linkContainer li {
  margin: 15px;
}

@media (min-width: 641px) {
  .burgerMenu {
    display: none;
  }

  .modal {
    display: none;
  }
}
