<nav class="nav">
  <div class="contents">
    <div class="logo-container">
      <a routerLink="/" routerLinkActive="active">SI Tracker</a>
    </div>
    @if (screenWidth >= 640) {
    <ul class="link-container">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <li>
        <a routerLink="/game-sessions" routerLinkActive="active">
          My Game Sessions
        </a>
      </li>

      <li>
        <a routerLink="/spirits" routerLinkActive="active">Spirits</a>
      </li>

      <li>
        <a routerLink="/adversaries" routerLinkActive="active">Adversaries</a>
      </li>

      <li>
        <a routerLink="/login" routerLinkActive="active">Login</a>
      </li>
    </ul>
    } @else {
    <button class="burgerMenu" (click)="toggleMenu()">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </button>
    }
  </div>

  <div class="backdrop" [class.close]="!isMenuOpen" (click)="closeMenu()"></div>

  <div class="modal" [class.close]="!isMenuOpen" (click)="closeMenu()">
    <ul class="modal__linkContainer" (click)="$event.stopPropagation()">
      <li>
        <a
          routerLink="/"
          routerLinkActive="active"
          (click)="closeMenu()"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a
          routerLink="/game-sessions"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          My Game Sessions
        </a>
      </li>
      <li>
        <a routerLink="/spirits" routerLinkActive="active" (click)="closeMenu()"
          >Spirits</a
        >
      </li>
      <li>
        <a
          routerLink="/adversaries"
          routerLinkActive="active"
          (click)="closeMenu()"
          >Adversaries</a
        >
      </li>
      <li>
        <a routerLink="/login" routerLinkActive="active" (click)="closeMenu()"
          >Login</a
        >
      </li>
    </ul>
  </div>
</nav>
