html,
body {
  height: 100%;
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100hv;
  width: 100%;
}

main {
  padding-top: 10vh; /* Account for nav height */
  height: auto;

  display: flex;
  flex-direction: column;
}

@font-face {
  font-family: "Julius Sans One";
  src: url("/fonts/JuliusSansOne-Regular.ttf");
}

/* Variables */
:root {
  /* Colors */
  --primary-color: #219ebc;
  --secondary-color: #ffffff;
  --tertiary-color: #8ecae6;
  --active-color: #318094;
}
